#  Scaffold documentation

#  Since we know what server we're running this on,
#  we don't need to do any checks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
RewriteRule ^(.*)$ /index.php?q=$1 [L,QSA]