<header class="header">
  <div class="container">
    <div class="row">
      <nav class="menu span-8" role="navigation">
        <a href="http://anchorcms.com" title="{{ site.title }}" class="logo">
          <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#anchor"></use>
          </svg>
        </a>

        {% include nav--header.html %}

        <a href="#" class="toggle"><span></span></a>
      </nav>
      <aside class="aside span-4">
        <a class="button" href="#">Download</a>
      </aside>
    </div>
  </div>
</header>
