<header class="header">
  <div class="container">
    <div class="row">
      <nav class="menu span-8" role="navigation">
        <a href="{{ site.url }}" title="{{ site.title }}" class="logo">
          {% include scaffold_logo.svg %}
        </a>

        {% include nav--header.html %}

        <a href="#" class="toggle"><span></span></a>
      </nav>
      <aside class="aside span-4">
        <a class="button" href="{{ site.url }}docs/getting-started/installation">Install</a>
      </aside>
    </div>
  </div>
</header>
