<nav class="menu">
	<ul>
		{% for item in site.data.navigation.sidebar %}
  		<li class="parent-item">

  			{% if item.url == null %}
  				<span>{{ item.title }}</span>
  			{% else %}
          <a href="{{ item.url }}" {% if page.url == item.url %}class="active"{% endif %}>{{ item.title }}</a>
        {% endif %}

  			{% if item.subnav %}
  				<ul>
  					{% for subitem in item.subnav %}
  						<li class="child-item">
                <a href="{{ subitem.url }}" {% if page.url == subitem.url %}class="active"{% endif %}>{{ subitem.title }}</a>
  						</li>
  					{% endfor %}
  				</ul>
  			{% endif %}

  		</li>
		{% endfor %}
	</ul>
</nav>
