pre {
	display: block;
	padding: 20px 25px;
	margin-bottom: 20px;
	
	border-radius: 3px;
	
	background: #fbfaf6;
	color: #887969;
	
	white-space: pre;
	tab-size: 4;
	
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
	code {
		font: 12px/20px "Droid Sans Mono", "DejaVu Sans Mono", Consolas, monospace;
	}


/* Comments */
.token.comment, .token.prolog, .token.doctype, .token.cdata {
	color: #bcb39f;
}

/* Brackets, dots, etc. */
.token.punctuation {
	color: #96866d;
}

.namespace {
	opacity: .5;
}

.token.property, .token.tag, .token.boolean, .token.number {
	color: #c4472e;
}

.token.selector, .token.attr-name, .token.string {
	color: #af792c;
	background: #fbf8f1;
}

.token.operator, .token.entity, .token.url, .token.variable {
	color: #4086b7;
}

.token.atrule, .token.attr-value, .token.keyword {
	color: #29a02c;
}

.token.regex, .token.important {
	color: #b8a526;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}
