* {
	margin: 0;
	padding: 0;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font: 15px/25px Rooney, serif;
	color: #75798e;
}

body, html, header {
	height: 100%;
}

section, header {
	display: block;
}

header, h1, h2, h3 {
	font-family: "Museo Sans", sans-serif;
}
	h1 {
		padding: 20px 0 35px;

		font-size: 36px;
		line-height: 44px;
		font-weight: 300;
			
		color: #54586a;
	}
	
p {
	padding-bottom: 15px;
}
	h1 + p {
		font-size: 17px;
		line-height: 28px;
		
		padding-bottom: 17px;
	}

header {
	position: relative;
	float: left;
	width: 250px;
	min-height: 100%;

	background: #353846;
}
	header:after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		
		width: 4px;
		height: 100%;
		
		box-shadow: inset -2px 0 4px rgba(0,0,0,.1);
	}
	header #logo {
		display: block;
		padding: 18px 20px;
	}
	
	header ul a {
		display: block;
		padding: 6px 20px;
		
		color: #9097b5;
		text-decoration: none;
		font-size: 14px;
		line-height: 30px;
		font-weight: 700;
		
		border-bottom: 1px solid rgba(255,255,255,.1);
	}
		header ul li:first-child a {
			box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
		}
		header ul a:hover {
			color: #b8bed7;
			background: rgba(255,255,255,.02);
		}
		header li.active > a {
			color: #fff;
			background: #4d82e2;
		}
			header li.active ul {
				display: block;
				
				background: #2c2f3b;
				border-bottom: 1px solid rgba(255,255,255,.1);
			}
		header ul li li a {
			padding: 3px 30px;
			
			font-size: 13px;
			font-weight: 500;
			
			border: none;
		}
		header ul li ul {
			display: none;
		}

.content {
	position: relative;
	left: 125px;
	
	width: 700px;
	
	margin: 0 auto;
	padding-top: 50px;
}